/*=============================================================================
Custom CSS for brad.cannell.com
Author: Brad Cannell
Created: 2022-03-04
=============================================================================*/


/*
Adjusting the image attribution text on banner images
*/

div.banner-img {
  float: right; 
  font-size: 12px
}

